@using HYR_Blog.CoreLayer.Dtos.CategoryDto
@model List<IndexCategoryDto>

<div class="col-lg-9 pl">
    <div class="header-search row text-right">
        <div class="header-search-box">
            <form asp-page="Products" method="get" class="form-search">
                <input type="search" class="header-search-input" name="ProductName" placeholder="نام کالا، برند و یا دسته مورد نظر خود را جستجو کنید…">
                <div class="action-btns">
                    <button class="btn btn-search" type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                    <div class="search-filter">
                        <div class="form-ui">
                            <div class="custom-select-ui">
                                <select name="CategoryId" class="right">
                                    <option value="@null">همه دسته ها</option>
                                    @foreach (var item in Model)
                                    {
                                        <option value="@item.CategoryId">@item.CategoryName</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
